body {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color:bisque;
  margin: 0;
  padding: 90;
  box-sizing: border-box;
  
 

}

h1,h2{
    
    color:brown;
    text-align: center;
    margin-top: 50px;

}

.Principal {

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 20vh 72vh 8vh;
  grid-template-areas: "header header"
                       "menu content"
                       "footer footer";
    
}

@media only screen and (max-width: 1000px) {
  
  .Principal {
    background-color: bisque;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 15vh 60vh 10vh;
    grid-template-areas: "header "
                         "menu "
                         "content"
                         "footer ";
  }
}

.paragrafo {

  background: bisque;
  margin: 50px 300px 50px 300px;
  /*ordem 
  topo direita embaixo esquerda*/
  padding: 10px;
  text-align: center;
  color: brown;
  font-size:large;
 
 
}

.cabecalho {

  width: 100%;
  float: left;
  padding: 0px 50px 20px 20px;
  background-color: brown;

}

.logo a {

  width: 168px;
  height: 200px;
  float: left;
  background: url(../png_ifba.png) no-repeat;
  font-size: 0;
  
  
}

main {

  grid-area: content;
  
    
}

header {
  
  background-color: brown;
  grid-area: header;
  
  
}

menu {

  background-color: tomato;
  grid-area: menu;
}

footer {

  background-color: rgb(177, 133, 133);
  grid-area: footer;
  
 }

 .botao{

    padding: 10px 8px;
    width: 190px;
    color: brown;
    background:rgb(245, 242, 242) ;
    border: 1px solid brown;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 50px 500px 50px 700px;
    /*ordem 
    topo direita embaixo esquerda*/
    box-shadow: 2px 2px 2px tomato;   
    transition: 0.3s ease; 
    text-decoration: none;
 }

 .botao:hover {

    background: rgb(172, 65, 65);
    color: aliceblue;
    transition: 0.5s ;
 }

 .botao:active {

    box-shadow: 0 0 0 0 tomato, inset 3px 3px 3px tomato;
    transform: translate(3px, 3px);
    
 }
 


