body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 20vh 72vh 8vh;
  grid-template-areas: "header header"
                       "menu content"
                       "footer footer";
}

header {
  background-color: brown;
  grid-area: header;
}

aside {

  background-color: tomato;
  grid-area: menu;
}

main {
  grid-area: content;
  background: bisque;
}



.paragrafo {

  
  padding: 10px;
  text-align: center;
  color: brown;
  font-size:large;
 
 
}

.cabecalho {
  background-color: brown;
}







footer {

  background-color: rgb(177, 133, 133);
  grid-area: footer;
  
 }

 .botao{

    padding: 10px 8px;
    width: 190px;
    color: brown;
    background:rgb(245, 242, 242) ;
    border: 1px solid brown;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
    /*ordem 
    topo direita embaixo esquerda*/
    box-shadow: 2px 2px 2px tomato;   
    transition: 0.3s ease; 
    text-decoration: none;
 }

 .botao:hover {

    background: rgb(172, 65, 65);
    color: aliceblue;
    transition: 0.5s ;
 }

 .botao:active {

    box-shadow: 0 0 0 0 tomato, inset 3px 3px 3px tomato;
    transform: translate(3px, 3px);
    
 }
 


