body {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color:beige;

}

h1,h2{
    
    color:brown;
    text-align: center;

}

.Principal {

  margin: 0 auto;
  width: 960px;
    
}


.paragrafo {

  border-color: brown;
  border: 1px solid brown;
  background: azure;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  color: brown;

}


